@model SIV_Pokemons_LL.Models.Journal


<h4>Journal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--<div class="form-group">
        <label asp-for="TrainerId" class="control-label"></label>
        <input asp-for="TrainerId" class="form-control" />
        <span asp-validation-for="TrainerId" class="text-danger"></span>
    </div>-->
            <div class="form-group">
                <label asp-for="CellFromId" class="control-label"></label>
                <select asp-for="CellFromId" asp-items="@ViewBag.Cells" class="form-control" id="cellFrom">
                    <option value="0">...</option>
                </select>
                <span asp-validation-for="CellFromId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<select data-parent="cellFrom" name="cellFromThemes" 
                        asp-for="Ce" asp-items="@ViewBag.Cells"></select>*@
            </div>
            <div class="form-group">
                <label asp-for="CellToId" class="control-label"></label>
                <select asp-for="CellToId" asp-items="@ViewBag.Cells" class="form-control">
                    <option value="0">...</option>
                </select>
                <span asp-validation-for="CellToId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book" class="control-label"></label>
                <input asp-for="Book" class="form-control" />
                <span asp-validation-for="Book" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PokemonId" class="control-label"></label>
                <select asp-for="PokemonId" asp-items="@ViewBag.TrainerPokemons" class="form-control">
                    <option value="0">...</option>
                </select>
                <span asp-validation-for="PokemonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventId" class="control-label"></label>
                <input asp-for="EventId" class="form-control" />
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actions" class="control-label"></label>
                <input asp-for="Actions" class="form-control" />
                <span asp-validation-for="Actions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

