@model SIV_Pokemons_LL.Models.Pokemon

<h4>Pokemon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type1Id" class="control-label"></label>
                <select asp-for="Type1Id" class="form-control" asp-items="@ViewBag.Types"></select>
            </div>
            <div class="form-group">
                <label asp-for="Type2Id" class="control-label"></label>
                <select asp-for="Type2Id" class ="form-control" asp-items="@ViewBag.Types"></select>
            </div>
            <div class="form-group">
                <label asp-for="EvolutionNumber" class="control-label"></label>
                <input asp-for="EvolutionNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="InitForm" class="control-label"></label>
                <select asp-for="InitForm" class="form-control" asp-items="@ViewBag.Pokemons">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="EvolveFrom" class="control-label"></label>
                <select asp-for="EvolveFrom" class="form-control" asp-items="@ViewBag.Pokemons">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="EvolveWith" class="control-label"></label>
                <input asp-for="EvolveWith" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="IsMega" class="control-label"></label>
                <input asp-for="IsMega" class="form-control" />
                <span asp-validation-for="IsMega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
