@model SIV_Pokemons_LL.Models.Pokemon

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Pokemon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Type1Id" class="control-label"></label>
                <select asp-for="Type1Id" class="form-control" asp-items="ViewBag.Type1Id"></select>
                <span asp-validation-for="Type1Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type2Id" class="control-label"></label>
                <select asp-for="Type2Id" class="form-control" asp-items="ViewBag.Type2Id"></select>
                <span asp-validation-for="Type2Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EvolutionNumber" class="control-label"></label>
                <input asp-for="EvolutionNumber" class="form-control" />
                <span asp-validation-for="EvolutionNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitForm" class="control-label"></label>
                <input asp-for="InitForm" class="form-control" />
                <span asp-validation-for="InitForm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EvolveFrom" class="control-label"></label>
                <input asp-for="EvolveFrom" class="form-control" />
                <span asp-validation-for="EvolveFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EvolveTo" class="control-label"></label>
                <input asp-for="EvolveTo" class="form-control" />
                <span asp-validation-for="EvolveTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EvolveWith" class="control-label"></label>
                <input asp-for="EvolveWith" class="form-control" />
                <span asp-validation-for="EvolveWith" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsMega" class="control-label"></label>
                <input asp-for="IsMega" class="form-control" />
                <span asp-validation-for="IsMega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
