@model SIV_Pokemons_LL.Models.Pokedex

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pokedex</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TrainerId" class="control-label"></label>
                <input asp-for="TrainerId" class="form-control" />
                <span asp-validation-for="TrainerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PokemonId" class="control-label"></label>
                <input asp-for="PokemonId" class="form-control" />
                <span asp-validation-for="PokemonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PokemonLevel" class="control-label"></label>
                <input asp-for="PokemonLevel" class="form-control" />
                <span asp-validation-for="PokemonLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PokemonExp" class="control-label"></label>
                <input asp-for="PokemonExp" class="form-control" />
                <span asp-validation-for="PokemonExp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PokemonIsActive" class="control-label"></label>
                <input asp-for="PokemonIsActive" class="form-control" />
                <span asp-validation-for="PokemonIsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
